configuration {
    modi:                "drun,run,window,combi";
    show-icons:          true;
    icon-theme:          "Papirus-Dark";
    drun-display-format: "{name}";
    display-drun:        " Apps";
    display-run:         " Run";
    display-window:      " Windows";
    display-combi:       " Go";
    terminal:            "ghostty";
    matching:            "fuzzy";
    sort:                true;
}

@theme "~/.config/rofi/nord.rasi"
